@tailwind base;
@tailwind components;
@tailwind utilities;

.active .nav-indicator {
  background-color: white;
  width: 4rem;
}

.active .nav-text {
  color: white;
}

.customCursor {
  cursor: url("../../public/images/chrome.jpeg"), pointer;
}

.hover-arrow {
  transform: translateY(-5px) translateX(2px) rotate(-45deg);
}
.non-hover-arrow {
  transform: translateY(0px) rotate(-45deg);
}
.image-hover-on {
  transform: translate(-10%, -0%) scale(1.3);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.image-hover-off {
  transform: translate(0%, 0%);
  transition: all 0.5s ease-in-out;
}

.block {
  background: linear-gradient(0deg, #000, #272727);
}

.block:before,
.block:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #0f172a,
    #18263d,
    #22354f,
    #2c4461,
    #364374,
    #404286,
    #4a5188,
    #545f9a,
    #5e6eac,
    #687dbf,
    #728cd1
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(50px);
}

@media (max-width: 1067px) {
  .block {
    background: none;
  }
  .image-hover-on {
    transform: translate(0%, 0%);
  }

  .block:before,
  .block:after {
    display: none;
  }
}
